# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Generated code (VsixSdk)
Generated/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
*.userprefs
*.dbmdl
*.jfm

# VSIX
*.vsix

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml

# JetBrains Rider
.idea/
*.sln.iml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Windows
[Tt]humbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node.js (for husky)
node_modules/
